<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Trudohod
        link(rel="stylesheet", href="/style.css")
    body
    include section-header.pug
    include section-safetime.pug
    include section-apm.pug
    include section-services.pug
    include section-how-it-works.pug
    include section-offer.pug