footer.footer
    .container
        .footer-logo
            a(href="")
                img(src='img/logo.png' alt="APM") 
            | APM
        .footer-phone +7 (999) 533 33 45
        .footer-email 
            a(href="mailto:info@apm1.ru") info@apm1.ru
        .footer-copy Разработано в web - студии &nbsp;
            a(href="")
                img(src="img/footer-copy.png" alt="2UP")        