section.how-it-works
    .container
        h2.main-heading Как это работает:

        .how-it-works-wrap
            .how-it-works-item 
                p Оставьте заявку
            .how-it-works-item 
                p Дождитесь звонка
            .how-it-works-item 
                p Получите нового сотрудника 

    .how-it-works-note
        p Все заботы по управлению и администрированию мы возьмем на себя
        
        