section.form
    .container
        form.form-wrap
            h2.title Начни экономить уже сейчас!
            input.input.input-name(type="text" name="name" placeholder="Имя")
            input.input.input-comp(type="text" name="comp" placeholder="Наименование компании")
            input.input.input-tel(type="text" name="tel" placeholder="Телефон")
            input.input.input-email(type="email" name="email" placeholder="E-mail")
            button.btn-send(type="button") Оставьте заявку

        include includes/adv.pug
        