section.header
    .top-bar
        .container
            .logo
                a(href="")
                    img(src='img/logo.png' alt="APM") 
                | APM
            .about Компания №1 на Российском рынке по адаптивному управлению персоналом
            .phone +7 (999) 533 33 45 

    .container
        h1.main-heading У нас есть нужные Вам сотрудники!
        h2.sub-heading 52 мин.
        p.desc Наш рекорд по скорости предоставления сотрудника

        include includes/adv.pug

        button.btn-get-info #[strong Узнайте], как быстро мы сможем найти Вам сотрудника

