section.services
    .container
        h2.main-heading Наша услуга для Вас, если Вы хотите:
        .services-wrap
            .services-item
                .services-item__heading Подобрать сотрудников
                p.services-item__desc Организовать подбор сотрудников в несколько раз быстрее за счет нашей активной базы;
            .services-item
                .services-item__heading Снизить затраты
                p.services-item__desc Снижения затрат на подбор, найм, управление и содержание персонала;
            .services-item
                .services-item__heading Решить стратегические задачи
                p.services-item__desc Освобождение кадровых ресурсов под решение стратегических задач:
            .services-item
                .services-item__heading 100% гарантию
                p.services-item__desc 100% гарантию безопасности от невыплаты заработной платы и прочих рисков;
            .services-item
                .services-item__heading Повысить инвестиции
                p.services-item__desc Повышения инвестиционной привлекательности вашей компании;
            .services-item
                .services-item__heading Снизить налоги
                p.services-item__desc Законного снижения налоговых выплат.
        