.plus-minus {

    .container {
        padding-left: 250px;
    }
    .main-heading {
        text-align: left;
        max-width: 700px;
        margin-top: 60px;
    }
}
.plus-list {
    line-height: 26px;
    max-width: 755px;
    margin-bottom: 65px;

    li {
        margin-top: 35px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 12px;
            height: 3px;
            top: 12px;
            left: -22px;
            background: #ea4b35;
        }
    }
}

.success {
    background: #1aaf5d;    

    .container {
        padding-top: 55px;
        padding-bottom: 55px;
        background: url('img/success-icon.png') 90px center no-repeat;
    }
    .desc {
        max-width: 600px;
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        margin-bottom: 0;
    }
}